<?xml version="1.0"?>

<model>
  <name>qr_rock1</name>
  <version>1.0</version>
  <sdf version="1.5">qr_rock1.sdf</sdf>

  <author>
    <name>ORT</name>
    <email>jacobrejin@gmail.com</email>
  </author>

  <description>
    Rock with Textured QR codes for the mars yard - QR Code No. 2
  </description>
</model>
